.partner-card img {
    width: 100%;
    object-fit: scale-down;
    height: 100px;
    width: 100px;
    padding: 100px, 0, 100px, 0;
    /* /* filter: grayscale(100%); */
}

#partner-list {
    margin-top: 0;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    column-gap: 5%;
    justify-content: center;
}