
.hero-banner {
  height: 35rem;
  background-image: url(https://images.pexels.com/photos/9301896/pexels-photo-9301896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-color: rgba(0, 0, 0, 0.588);
  max-width: 100%;
  max-height: 100%;
  display: block;
  background-blend-mode: multiply;
  margin: 0;
  margin-bottom: 40px;
  display: block;
  text-align: left;
}

.title{
    color: #ffffff;
    font-weight: 500;
    font-size: 80px;
    text-align: left;
    flex: left;
    padding: 80px 120px 0px 160px;
    margin: 0;

}

.sub-title{
    font-size: 24px;
    font-weight: 250;
    color: rgb(255, 255, 255);
    padding: 12px 48px 12px 166px;
    margin: 0;
    text-align: left;
  display: flex;
}

.singUp-button {
  font-size: 1.5rem;
  justify-content: left; 
  color: rgb(255, 255, 255);
  padding: 8px 10px 8px 10px;
  display: inline-block;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 164px;
}
.singUp-button:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



/* media queries start */

/* smartphone view: 1 tile */
@media screen and (max-width: 480px) {
  .hero-image {
    display: none;
  }
}

/* media queries end */
