.grant-card {
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fav-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    flex-basis: 50%;
    border-radius: 1%;
}

.fav-card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 16px;
}

.fav-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
  }
  
  .project-card-container img:hover {
    transform: scale(1.25);
  }
  
  .fav-title {
    color: #091938;
    text-decoration: none;
    text-align: left;
    padding: 10px 32px 0px 32px;
  }
  
  .description {
    text-decoration: none;
    text-align: left;
    padding: 0px 32px 0px 32px;
    font-weight: 400;
  }
  
  .date {
    text-decoration: none;
    text-align: left;
    padding: 0px 32px 0px 32px;
    color: rgb(53, 53, 53);
  }
  
  a {
    text-decoration: none;
    text-align: left;
  }
  
  .see-more-btn {
    text-align: left;
    padding: 0px 32px 0px 32px;
    color: #091938;
  }
  
  .card-shadow {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  
  .save-btn {
    margin: 0 8px 10px 300px;
    background-color: #091938;
    border: #091938;
    color: white;
    padding: 8px;
  }
  .save-btn:hover {
    margin: 0 10px 10px 300px;
    background-color: #003db7;
    border: #003db7;
    color: white;
    padding: 8px;
  }
  
  @media screen and (max-width: 480px) {
    .fav-card {
      width: 100%;
      margin-left: 15%;
      align-items: center;
      margin-top: 10%;
    }
    .fav-card img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
    }
  
    .save-btn {
      margin: 0 auto;
      background-color: #091938;
      border: #091938;
      color: white;
      padding: 8px;
      margin-bottom: 5%;
    }
  }
  

  @media screen and (min-width: 481px) and (max-width: 930px) {
    .fav-card {
      flex: 50%;
    }
  }

