body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

h2 {
    font-size: 1.5em;
    color: #525252;
}

.form-box {
    background: white;
    width: 500px;
    height: 300px;
    margin: 60px auto 0 auto;
    padding: 40px 0px 40px 0px;
    border: #f3f9fe 4px solid;
}

.username {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #2d2d2d;
    margin-top: 10px;
    font-size: 1em;
}

.password {
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 251px;
    font-size: 1em;
    color: #2d2d2d;
}

.btn {
    background: #091938;
    width: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: #091938 1px solid;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn:hover {
    background: #0d2d6c;
}