body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
    background-color: grey;
}

p {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

h2 {
    font-size: .5em;
    color: #525252;
}

.username {
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    color: #2d2d2d;
    margin-top: 10px;
    font-size: 1em;
    align-items: center;
}

.user-title {
    color: #181515;
    font-weight: bold;
    align-items: center;
}

.pass-title {
    color: #181515;
    font-weight: bold;
    align-items: center;
}

.password {
    background: #ecf0f1;
    align-items: center;
    padding: 8px;
    width: 251px;
    font-size: 1em;
    color: #2d2d2d;
}

.btn {
    background: #091938;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: #091938 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-weight: 800;
    font-size: 0.8em;
}

.btn:hover {
    background: #0d2d6c;
}