body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 20px;
    text-decoration: none;
    color: rgb(33, 33, 33);
}

h2 {
    font-size: 3.5em;
    color: #525252;
}


.form-box {
    background: white;
    width: 800px;
    height: 500px;
    margin: 80px auto 0 auto;
    padding: 0px 0px 40px 0px;
    border: #f3f9fe 4px solid;
}

.username {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}


.password,
.email {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 251px;
    font-size: 1em;
}

.btn {
    background: #091938;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: #091938 1px solid;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn:hover {
    background: #0d2d6c;
}