.details-container {
  width: 1300px;
  padding: 50px;
  padding-top: 0%;
  margin: 5%;
  margin-top: 5%;
  position: static;
  font-size: 25px;
  color: black;
  text-align: left;
  line-height: 30px;
}

#main-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.img {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#apply-button {
  background: #091938;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #091938 1px solid;

  margin-top: 20px;
  margin-bottom: 5px;
  align-items: center;
  margin-left: 16px;
  font-weight: 800;
  font-size: 0.6em;
}

/* media queries start */

/* smartphone view */
@media screen and (max-width: 480px) {
  .details-container {
    width: 100%;
    align-items: center;
    margin-top: 10%;
    padding: 0%;
  }
  #details-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 40%;
    margin-left: 5%;
  }

  #main-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
  }
}

/* tablet view */
@media screen and (min-width: 481px) and (max-width: 930px) {
  .details-container {
    width: 90%;
    align-items: center;
    margin-top: 10%;
    padding: 0%;
  }
  #details-image {
    width: 90%;
    height: 500px;
    object-fit: cover;
    margin-top: 30%;
    margin-left: 5%;
  }

  #main-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
  }
}
.container-url{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* media queries end */
