.details-container {
  width: 1300px;
  padding: 50px;
  padding-top: 0%;
  margin: 5%;
  margin-top: 5%;
  position: static;
  font-size: 25px;
  color: black;
  text-align: left;
  line-height: 30px;
}

#main-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* media queries start */

/* smartphone view: 1 tile */
@media screen and (max-width: 480px) {
  .details-container {
    width: 100%;
    /* margin-left: 15%; */
    align-items: center;
    margin-top: 10%;
    padding: 0%;
  }
  #details-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 40%;
    margin-left: 5%;
  }

  #main-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
  }
}

/* media queries end */
