
.details-container {
    width: 1300px;
    padding: 50px;
    padding-top:0%;
    margin: 5%;
    margin-top: 5%;
    position:static;
    font-size: 20px;
}

.details-data {
    font-size: 20px;
}

h3{ 
    font-size: 0px;
}


img {
    max-width: 100%;
    height: auto;
    }