#grant-list {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#story-list {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#partner-list {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#h1-home {
  margin-top: 10%;
  text-align: center;
  font-size: 26px;
}

* {
  background-color: white;
}

.LoginPage {
  background-color: gray;
}