.main-background {
  background-color: white;
}

#grant-list {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#story-list {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#partner-list {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  column-gap: 5%;
  justify-content: center;
}

#h1-home {
  margin-top: 10%;
  text-align: center;
  font-size: 26px;

}

.profile {
  height: 700px;
  padding-top: 40px;
}

/* #user-image {
  width: 40%;
  height: 40%;
  float: right;
  margin: 5%;
  border-radius: 25px;
}

.user-info {
  margin-left: 50px;

}

.user-txt {
  margin-top: 50px;
}

.user-info h3 {
  margin-left: 30px;
  font-weight: 500;
}

.user-info button {
  margin-left: -50px;
}

.user-info-titles {
  color: #091938;
} */