.main-background {
  background-color: white;
}

#grant-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#story-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#partner-list {
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  column-gap: 5%;
  justify-content: center;
}

#h1-home {
  margin-top: 10%;
  text-align: center;
  font-size: 26px;
}

.profile {
  height: 1200px;
  padding-top: 40px;
}

#no-matches-message {
  font-size: 40px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.grantspage {
  height: 200px;
}

.user-info-titles {
  color: #091938;
}
*/ #user-title {
  padding-top: 2em;
  padding-bottom: 3rem;
}

/* form {
  margin: 50px auto;
  width: 90%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 22px;
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid #b6b5b3;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #535151;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid #9c9b95;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
}

.form-item button:hover {
  border: 2px solid #707192;
  background-color: #8793ad;
  color: #fff;
}

.form-item button {
  width: 100px;
} */


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

p {
  font-size: 20px;
  text-decoration: none;
  color: rgb(33, 33, 33);
}

input,
label {
  display: block;
}


h2 {
  font-size: 1.5em;
  color: #1a1a1a;
}

.username,
.message,
.email, 
.name, 
.postcode,
.gender,
.indigenousstatus, 
.visionimpairment, 
.lowincome, 
.ESOL, 
.birthyear, 
.duration,
.employment, 
.education, 
.industry {
  background: #ffffff;
  border: #ccc 1px solid;
  padding: 10px;
  width: 350px;
  font-size: 1em;
  margin: 10px;
}

.btn {
  background: #091938;
  width: 370px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  border: #091938 1px solid;
  margin-top: 20px;
  margin-bottom: 5px;
  align-items: left;
  font-weight: 800;
  font-size: 0.8em;
}

.btn:hover {
  background: #0d2d6c;
}

.form-box {
  width: 400px;
  border-radius: 6px;
  margin: 0 auto 0 auto;
  margin-bottom: 360px;
  padding: 40px 0px 40px 0px;
}

/* media queries start */
/* smartphone view: 1 tile */
@media screen and (max-width: 480px) {
  #grant-list {
    display: block;
    width: 100%;
    padding-bottom: 25%;
    position: relative;
  }

  #story-list {
    display: block;
    width: 100%;
    padding-bottom: 25%;
    position: relative;
  }

  #h1-home {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
  }

  .h1-featured-g {
    margin-top: 60%;
    text-align: center;
  }
}

/* tablet view */

@media screen and (max-width: 930px) {
  #filter-by-text {
    margin-top: 25%;
  }
  #grant-list {
    display: block;
    width: 90%;
    padding-bottom: 25%;
    margin-left: 5%;
    position: relative;
  }
}
/* media queries end */
