.main-background {
  background-color: white;
}

#grant-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#story-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#partner-list {
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  column-gap: 5%;
  justify-content: center;
}

#h1-home {
  margin-top: 10%;
  text-align: center;
  font-size: 26px;
}

.profile {
  height: 1200px;
  padding-top: 40px;
}

#no-matches-message {
  font-size: 40px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.grantspage {
  height: 200px;
}

/* media queries start */
/* smartphone view: 1 tile */
@media screen and (max-width: 480px) {
  #grant-list {
    display: block;
    width: 100%;
    padding-bottom: 25%;
    position: relative;
  }
}
/* 
  #grant-list {
    margin-top: 5%;
    display: flex;
    grid-template-columns: 100%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
  }

/* media queries end */
