.main-background {
  background-color: white;
}

#grant-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#story-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

#partner-list {
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  column-gap: 5%;
  justify-content: center;
}

#h1-home {
  margin-top: 10%;
  text-align: center;
  font-size: 26px;
}

.profile {
  height: 1200px;
  padding-top: 40px;
}

#no-matches-message {
  font-size: 40px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.grantspage {
  height: 200px;
}

.user-info-titles {
  color: #091938;
}
*/ #user-title {
  padding-top: 2em;
  padding-bottom: 3rem;
}

form {
  margin: 50px auto;
  width: 90%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 22px;
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid #b6b5b3;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #535151;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid #9c9b95;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
}

.form-item button:hover {
  border: 2px solid #707192;
  background-color: #8793ad;
  color: #fff;
}

.form-item button {
  width: 100px;
}
/* media queries start */
/* smartphone view: 1 tile */
@media screen and (max-width: 480px) {
  #grant-list {
    display: block;
    width: 100%;
    padding-bottom: 25%;
    position: relative;
  }

  #story-list {
    display: block;
    width: 100%;
    padding-bottom: 25%;
    position: relative;
  }

  #h1-home {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
  }

  .h1-featured-g {
    margin-top: 60%;
    text-align: center;
  }
}

/* tablet view */

@media screen and (max-width: 930px) {
  #filter-by-text {
    margin-top: 25%;
  }
  #grant-list {
    display: block;
    width: 90%;
    padding-bottom: 25%;
    margin-left: 5%;
    position: relative;
  }
}
/* media queries end */
