nav {
    color: #ffffff;
    background-color: #091938;
    text-decoration: none;
    display: inline;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.button {
    justify-content: inline;
    color: var(--color-primary);
    font-family: var(--regular);
    text-decoration: none;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 550;
    font-size: 20px;
}

.button:hover {
    color: rgb(73, 216, 255);
}

.left-menu {
    padding-left: 1rem;
}

.right-menu {
    padding-right: 3rem;
    ;
}

img {
    background-color: #091938;
    width: 60%;
    height: 80%;

    object-fit: scale-down;
}

.logo {
    margin: 0;

}

.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        /* left: -100%; */
        top: 10rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }


    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}