nav {
    color: #ffffff;
    background-color: #091938;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: #242222;
    font-size: 80;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: .5rem 8rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 18px;
    font-weight: 500;
}

.nav.titles {
    font-size: 40;
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: centre;
    padding: .25rem;
}

.nav li:hover {
    background-color: #1c4025;
}


.li {
    position: relative;
    z-index: 1;
    flex-grow: 0;
}

/* .logo {
    height: 60px;
    justify-content: left;
    font-weight: 600;
} */

img {
    width: 60%;
    height: 80%;
    object-fit: scale-down;
}