nav {
    color: #242222;
    font-size: 80;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem;
    /* transition: color 0.2s; */
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: centre;
    padding: .25rem;
}

.nav li:hover {
    background-color: #1c4025;
}

.nav li.active {
    background-color: rgb(66, 66, 66);
}

.logo {
    height: 160px;
    justify-content: left;
    font-weight: 600;
}

.loginbtn {
    border-radius: 1px color 0000;
}