nav {
    color: #ffffff;
    background-color: #091938;
    text-decoration: none;
    display: inline;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.button {
    justify-content: inline;
    color: var(--color-primary);
    font-family: var(--regular);
    text-decoration: none;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 550;
    font-size: 20px;
}

.button:hover {
    color: rgb(73, 216, 255);
}

.left-menu {
    padding-left: 1rem;
}

.right-menu {
    padding-right: 3rem;
    ;
}

img {
    background-color: #091938;
    width: 60%;
    height: 80%;

    object-fit: scale-down;
}

.logo {
    margin: 0;

}